 .navbar {
    background-color: #f493c1;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    ustify-content: flex-start;
}
.menu-icon {
	font-size: 2em;
	margin-right: 1em;
}
.logo {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	flex-grow: 1;
}
.product-image {
	width: 150px;
	height: auto;
	}