.navbar {
    background-color: #f493c1;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
	position: relative;
}

.menu-icon {
    font-size: 3em;
    justify-self: start; 
}

.logo-text {
    font-size: 3em;
    font-family: 'Lobster', 'Brush Script MT', cursive;
}

.nav-logo {
    height: 50px;
	width: auto;
}

.cart-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    justify-self: end;
	object-fit: contain;
}

.product-image{
	width:150px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    grid-column: 2;
}